body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('image.png') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

header {
    width: 100%;
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1400px;
    margin-top: 20px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    flex: 3;
    background: rgb(182, 255, 0);
    padding: 16px;
    border-radius: 4px;
}

.game {
    background: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
}

.sidebar {
    flex: 1;
    background: white;
    padding: 20px;
    margin-left: 20px;
    border-radius: 10px;
    text-align: center;
}

.sidebar img {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin-bottom: 10px;
}
